body {
    margin: 0;
}

.logo, .links1 {
    margin: 10px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.header{
    display: flex;
    background-color: rgb(40, 40, 148);
    height: 50px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

a {
    color:white;
}

.links1 {
    display: flex;
    color: white;
    list-style-type: none;
    justify-content: center;
    
    gap: 20px;
}

.header2 {
    display: flex;
    margin-bottom: 20px;
    background-color: rgb(27, 27, 63);
    gap: 200px;
    
}

.left2 {
    display: flex;
    justify-content: space-evenly;
    color: white;
    flex-direction: column;
}

.right2 {
    background-color: rgb(122, 122, 122);
    padding: 80px;
    margin: 50px;
    margin-left: 150px;
    color: white;
}

.middle {
    display:flex;
    flex-direction: column;
}

#infomid {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.imagesmid1 {
    display:flex;
    justify-content: space-between;
    margin: 30px;
}

.imagesmid {
    border-color: rgb(0, 119, 255);
    border-style: solid;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    border-radius: 30px;
}

.beschreibung {
    margin: 20px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: rgb(122, 122, 122);
}

.signup2-1{
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: blanchedalmond;
 margin: 60px;
 border-radius: 20px;
 padding: 30px;
}

.footer {
    background-color: rgb(80, 80, 221);
    display: flex;
    justify-content: center;
}